#nav-bar {
  align-items: center;
  background: #00a087;
  color: #e8fdff;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  left: 0;
  padding: 0 2em;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;

  button {
    border-radius: 5px;
    border: solid 1px #000000;
    background-color: #e8fdff;
    color: #00a087;
    font-size: 16px;
    padding: 0.5em;
  }

  .logo {
    float: left;
    height: 80px;
    width: 80px;
  }

  .header {
    float: left;
    font-size: 32px;
    line-height: 80px;
    padding: 0 0 0 10px;
  }
}

.hidden {
  visibility: hidden;
}